.navbar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    /* position: relative; */
    color: white;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(25, 90, 118);
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 0 15px 0 15px;
}

.navbar ul li{
    list-style: none;
    margin: 1rem 1.2rem;
}


.navbar ul li .navlink{
    color: white;
    text-decoration: none;
}


